<%- include("header") -%>


<div class="contact">
  Founders
  <br>
  CEO: <a href="mailto:rajan.pk72@gmail.com?subject=Query">Pradeep Kr. Rajan</a>
  <br>
  COO: <a href="mailto:rajriya75@yahoo.com?subject=Query">Suman Lata</a>
</div>


<div class="footer-position">
<%- include('footer') -%>
</div>
