<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- font families embed -->
  <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600&family=Alegreya+Sans:ital,wght@0,900;1,900&family=Inter:wght@400;500;600&family=Merriweather:wght@300;400;700&family=Open+Sans:ital@0;1&family=Quicksand:wght@300;400&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="icons/favicon.ico" type="image">
  <title> Olive Plus Phrama</title>

</head>

<body>

  <!-- navbar section -->

  <nav class="navbar nav-light background-light navigation navbar-border">
    <a href="/" class="navbar-brand">
      <img src="icons/favicon.ico" width="30" height="30" alt="Olive Plus Pharma" loading="lazy">
      OLIVE PLUS PHARMA </a>
    <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="/"> Home </a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="pharmacy.ejs"> Shop Now </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.ejs"> Contact Us </a>
      </li>
    </ul>
  </nav>
