<%- include('header') -%>


<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Lupin
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">

        <div class="row med">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/lupin.png"><br>Eglucent Mix 25</a></div>

          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/lupin.png"><br>Eglucent Mix 50</a></div>

          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/lupin.png"><br>Eglucent Lispro</a></div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Sanofi
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">

        <div class="row med">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/sanofi.png"><br>Lantus</a></div>

          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/sanofi.png"><br>Apidra</a></div>

          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/sanofi.png"><br>Insuman 25 comb</a></div>

          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/sanofi.png"><br>Insuman 50 comb</a></div>

          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/sanofi.png"><br>Insuman Rapid</a></div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Novo
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">

        <div class="row med">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/novo.jpg">something</a></div>

          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/novo.jpg">something</a></div>

          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/novo.jpg">something</a></div>

          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/novo.jpg">something</a></div>

          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/novo.jpg">something</a></div>

          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/novo.jpg">something</a></div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Lilly
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">

        <div class="row med">
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/lilly.png">something</a></div>

          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/lilly.png">something</a></div>

          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/lilly.png">something</a></div>

          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/lilly.png">something</a></div>

          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/lilly.png">something</a></div>

          </div>
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div><a href="#"><img src = "images/lilly.png">something</a></div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>


  <%- include('footer') -%>
